.filters-div {
    width: 60%;
    margin: 3vh auto;
    box-sizing: border-box;
}

.filters-list {
    display: inline-block;
}

.tag {
    padding-top: 7px;
padding-bottom: 7px;
padding-right: 8px;
padding-left: 12px;
}