.MyProfileIcon, .CartIcon{
    position: absolute;
    top: 2vh;
    cursor: pointer;
    text-align: center;
    width: 8vw;
}

.CartIcon{
    right: 6vw;
}

.MyProfileIcon{
    right: 2vw;
}

.CartText, .ProfileText{
    background-color: black;
    opacity:  0.4;
    color: white;
    padding: 0.2vw;
    border-radius: 5px;
    display: none;
}

.CartIcon:hover .CartText{
    display: block;
}

.MyProfileIcon:hover .ProfileText{
    display: block;
}