@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Lato';
}

.page-wrapper{
    background-color: #eff8f8;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 10vh;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 49px -13px rgba(146, 146, 146, 1);
    -moz-box-shadow: inset 0px 0px 49px -13px rgba(146, 146, 146, 1);
    box-shadow: inset 0px 0px 49px -13px rgba(146, 146, 146, 1);
}

form{
    border: solid 3px #539091;
    border-radius: 5px;
    border-radius: 15px;
    width: 50%;
    background-color: white;
    padding: 6vh 4vw;
    box-sizing: border-box;
    margin: auto;
}

form h1{
    text-align: center;
    margin-bottom: 4vh;
}

form button{
    padding: 1vh 2vw;
    font-size: 2.5vh;
    border: solid 3px #539091;
    border-radius: 5px;
    border-radius: 15px;
    background-color: #539091;
    color: white;
    font-weight: 600;
    margin-bottom: 2vh;
    cursor: pointer;
}

form .button-div{
    text-align: center;
    margin-top: 3vh;
}

form .address-div{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5vh 1vw;
    margin-top: 1vh;
}

form .address-div h3{
    font-size: 1vw;
    font-weight: 500;
    color: rgb(179, 179, 179);
    margin-top: -1.5vh;
    background-color: white;
    width:min-content;
} 
.address-input-wrapper{
    display: inline-block;
    width: 18vw;
    padding-right: 1vw;
}
.address-input-wrapper label{
    width: 7vw;
    grid-column: 1;
}
.requiredInput{
    color:red;
    display: inline;
}
.formInputWrapper{
    display: grid;
    padding: 1vh 0;
    grid-template-columns: 1fr,1fr;
}
.normal-input-wrapper label{
    grid-column: 1;
    width: 20vw;
}
.formInputWrapper input{
    grid-column: 2;
}
.validationMessage{
    color: red;
    font-size: 1.3vh;
    margin-bottom: -1.6vh;
}