@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Lato';
}

form{
    border: solid 3px #539091;
    border-radius: 5px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 6vh 2vw;
    box-sizing: border-box;
}

form h1{
    text-align: center;
    margin-bottom: 4vh;
}

form button{
    padding: 1vh 2vw;
    font-size: 2.5vh;
    border: solid 3px #539091;
    border-radius: 5px;
    border-radius: 15px;
    background-color: #539091;
    color: white;
    font-weight: 600;
}
input{
    margin-top: -0.2vw;
    margin-bottom: -0.7vw;
}

form .button-div{
    text-align: center;
    margin-top: 3vh;
}

form .address-div{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5vh 1vw;
}

form .address-div h3{
    font-size: 1vw;
    font-weight: 500;
    color: lightgray;
    margin-top: -1.5vh;
    background-color: white;
    width:min-content;
} 